*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	padding: 10px;
}

h4{
	font-size: 15px;
}
h5{
	font-size: 13px;
}
p{
	font-size: 12px;
	
}
#principal{
	padding: 30px;	
	background-color: black;
	box-shadow: 5px 5px 5px 5px black;
}
#mensagem{
	color: green;

}
#column-conteudo{
	text-align: center;
}

